main {
}

.title {
  font-family: "Arial", sans-serif; /* Choose a clean font */
  font-size: 36px; /* Adjust font size */
  color: #333; /* Main text color */
  text-align: center; /* Center the text */
  padding: 10px 20px; /* Padding for spacing */
  margin: 20px 0; /* Margin for spacing */
  background: linear-gradient(
    135deg,
    rgb(21, 21, 21),
    #767676
  ); /* Gradient background */
  color: white; /* Text color over the gradient */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Text shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.maze-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: ghostwhite;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.maze-button {
  margin: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  border-color: black;
  color: black;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background: black;
    color: white;
    transform: scale(1.1);
  }
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}

.cell.wall {
  background-color: black;
}

.cell.visited {
  background-color: lightblue;
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}
